# ========================
# Eclipse / Workspace
# ========================
.metadata/
.settings/
.recommenders/
*.log

# ========================
# Java build outputs
# ========================
bin/
build/
target/
*.class

# ========================
# Servers / Tomcat
# ========================
Servers/
*.war

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
