# ========================
# Eclipse / Workspace
# ========================
.metadata/
.settings/
.recommenders/
*.log
**/src/main/webapp/META-INF/

# ========================
# Java build outputs
# ========================
bin/
build/
target/
*.class
*.classpath
*.project

# ========================
# Servers / Tomcat
# ========================
Servers/
*.war

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
23SOECE11094
**.zip